@model Parcial_2.Models.Cajero
@{
    ViewBag.Title = "Correcto";
}

<h2>Retiro coompleto</h2>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Correcto</h4>
    <p>monto valido, retire su dinero</p>
    <hr>

 </div>