@model Parcial_2.Models.Cajero
@{
    ViewBag.Title = "incorrecto";
}

<h2>Cajero</h2>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">incorrecto</h4>
    <p>monto incorrecto</p>
    <hr>

</div>
